/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */


header, footer {
	height: 200px;
}
article{
	height: 400px;
	flex: 2;
}
aside{
	height: 400px;
	flex: 1;
}
.dva {
display: flex;
}

nav {
	height: 800px;
	flex-grow: 1;
}

.main{
	display:flex;
	
}
.jedna{
	flex-grow: 3;
}