/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */


header, footer{
	height: 200px;
}

div{
	display: flex;
	height: 500px;
}

nav{
	flex-grow: 1;
}
article{
	flex-grow: 3;
}
aside{
	flex-grow: 1;
	order: 1; 
}