/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.jedna{
	display: flex;
	flex-direction: column;
	flex-grow: 4;
}

header, footer {
	flex-grow: 1;
	height: 200px;
}
article {
	flex-grow:2;
	height: 500px;
}

.main{
	display: flex;
}

nav {
	flex-grow: 1;
}